<div id="<%= dom_id video %>">
  <p>
    <strong>Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= video.description %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= video.duration %>
  </p>

  <p>
    <strong>Visible:</strong>
    <%= video.visible %>
  </p>

</div>
